.table-wrapper {
  overflow-x: auto;
}

th[mat-header-cell] {
  font-weight: bold;
}

.success {
  color: green;
}

.error {
  color: red;
}

.json pre {
  min-width: 200px;
  max-width: 300px;
  white-space: break-spaces;
  overflow: hidden;
}
