<mat-nav-list>
  <a mat-list-item routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="entry">
    <mat-icon class="menu-item-icon">home</mat-icon>
    <span class="menu-item-text" href="/">Главная</span>
  </a>
  <a mat-list-item routerLink="/faculties" routerLinkActive="active" class="entry">
    <mat-icon class="menu-item-icon">apartment</mat-icon>
    <span class="menu-item-text" href="/faculties">Факультеты</span>
  </a>
  <a mat-list-item routerLink="/teachers" routerLinkActive="active" class="entry">
    <mat-icon class="menu-item-icon">group</mat-icon>
    <span class="menu-item-text" href="/teachers">Преподаватели</span>
  </a>
  <a mat-list-item routerLink="/subjects" routerLinkActive="active" class="entry">
    <mat-icon class="menu-item-icon">menu_book</mat-icon>
    <span class="menu-item-text" href="/subjects">Предметы</span>
  </a>
  <a mat-list-item routerLink="/schedule" routerLinkActive="active" class="entry">
    <mat-icon class="menu-item-icon">calendar_month</mat-icon>
    <span class="menu-item-text" href="/schedule">Расписание</span>
  </a>
  <a mat-list-item routerLink="/modules" routerLinkActive="active" class="entry">
    <mat-icon class="menu-item-icon">trending_up</mat-icon>
    <span class="menu-item-text" href="/analytics-modules">Аналитические модули</span>
  </a>
</mat-nav-list>
