<mat-list>
  <mat-list-item routerLink="/" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-item-icon">home</mat-icon>
    <a class="menu-item-text" href="/">Главная</a>
  </mat-list-item>
  <mat-list-item routerLink="/faculties" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-item-icon">apartment</mat-icon>
    <a class="menu-item-text" href="/faculties">Факультеты</a>
  </mat-list-item>
  <mat-list-item routerLink="/teachers" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-item-icon">group</mat-icon>
    <a class="menu-item-text" href="/teachers">Преподаватели</a>
  </mat-list-item>
  <mat-list-item routerLink="/subjects" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-item-icon">menu_book</mat-icon>
    <a class="menu-item-text" href="/subjects">Предметы</a>
  </mat-list-item>
  <mat-list-item routerLink="/schedule" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-item-icon">calendar_month</mat-icon>
    <a class="menu-item-text" href="/schedule">Расписание</a>
  </mat-list-item>
  <mat-list-item routerLink="/analytics-modules" routerLinkActive="active" class="menu-item">
    <mat-icon class="menu-item-icon">trending_up</mat-icon>
    <a class="menu-item-text" href="/analytics-modules">Аналитические модули</a>
  </mat-list-item>
</mat-list>
