@import "../../core/components/main/main.component";

.page-header {
  color: #333333;
  font-size: 32px;
  margin: 15px;
  text-align: center;
}

button {
  display: flex;
  align-items: center;
}

.btn-icon {
  margin-right: 0.3rem;
}
