/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-padding-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0 !important;
}

mat-expansion-panel-header .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel {
  margin-bottom: 1.2rem !important;

  mat-expansion-panel-header {
    font-size: 0.95rem !important;

    .section-header-text {
      font-weight: bolder !important;
    }

    .section-header-icon {
      margin-right: 5px !important;
      color: #0d6efd !important;
    }
  }
}

.page-header {
  color: #333333;
  font-size: 32px;
  margin: 15px;
  text-align: center;
}

.module-card__details-btn {
  border: none;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 15px;
}
