@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  border-style: none;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-padding-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0 !important;
}

mat-expansion-panel-header .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel {
  margin-bottom: 1.2rem !important;

  mat-expansion-panel-header {
    font-size: 0.95rem !important;

    .section-header-text {
      font-weight: bolder !important;
    }

    .section-header-icon {
      margin-right: 5px !important;
      color: #0d6efd !important;
    }
  }
}

.page-header {
  color: #333333;
  font-size: 32px;
  margin: 15px;
  text-align: center;
}

.module-card__details-btn {
  border: none;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 15px;
}

th[mat-header-cell] {
  font-weight: bold;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}

.filter-form {
  margin-top: 20px;
}

mat-form-field {
  flex: 1;
}

tr:not([mat-header-row]):hover {
  background: whitesmoke;
  cursor: pointer;
  transition: background 0.3s;
}

.btn {
  @apply py-2 px-4 rounded text-center;
}

.btn-primary {
  @apply bg-blue-500 text-white;
}

hr {
  @apply h-px my-3 bg-gray-400 border-0 dark:bg-gray-700;
}

a {
  color: #0d6efd;
}

.text-muted {
  color: #6c757d;
  font-size: 0.95rem;
}
