.container {
  padding: 20px;
}

.card {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-icon {
  background-size: cover;
}

mat-card-subtitle {
  margin-bottom: 10px;
}

.mat-card-content,
.mat-card-footer {
  padding: 20px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  mat-icon {
    margin-right: 10px;
    color: #3f51b5;
  }

  a, p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.mat-expansion-panel {
  margin: 10px;
}

.no-tasks {
  margin-top: 15px;

  mat-icon {
    color: #ff8e52;
  }

  p {
    font-size: 0.9rem;
  }
}
