<div class="container">
  <h1 class="page-header">
    Факультеты
  </h1>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="section-header-text">Поиск</span>
      </mat-panel-title>
      <mat-panel-description>
        <span class="section-header-description">Поиск факультетов</span>
        <mat-icon class="section-header-icon">search</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-faculties-list/>
  </mat-expansion-panel>
</div>
